<div class="well connecter">
    <form name='cred' class="form-inline">
        <div class="span6">
            <label for="jid">JID:</label>
            <input type="text" id="jid" value="henryleu@localhost/macbookpro" class="input-small">
            <label for="password">Password:</label>
            <input type="password" id="password" value="Cheeese8*" class="input-small">
            <input type="button" id="connect" value="connect">
        </div>
        <div class="span4">
            <input type="button" id="clearLog" value="clear log" class="btn">
            <!--
            <input type="text" id="msg" value="hello" class="input">
            <input type="button" id="send" value="send">
            -->
            <input type="text" id="jidTo" value="admin@localhost" class="input">
            <input type="button" id="load" value="load">
            <br>

            <input type="button" id="add" value="add">
            <input type="button" id="remove" value="remove">
            <input type="button" id="update" value="update">
            <br>

            <input type="button" id="subscribe" value="subscribe">
            <input type="button" id="unsubscribe" value="unsubscribe">
            <br>

            <input type="button" id="link" value="link">
            <input type="button" id="unlink" value="unlink">

        </div>
    </form>
</div>
