<div class="conversation">
    <div class="cvs-head">
        <div class="">
            <ul class="nav nav-tabs">
                <li><a><i class="fa fa-user"></i> <%=input.jid%></a></li>
            </ul>
        </div>
        <!--<div class="navbar">-->
            <!--<div class="navbar-inner">-->
                <!--<ul class="nav">-->
                    <!--<li><a><i class="fa fa-user"></i> <%=input.jid%></a></li>-->
                <!--</ul>-->
                <!--<ul class="nav pull-right">-->
                    <!--<li><a><i class="fa fa-user"> 我</i></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="cvs-list" data-view-id="msg-list">
    </div>
    <div class="cvs-edit">
        <div data-view-id="msg-edit"></div>
    </div>
</div>