<div class="tabbable1">
    <ul class="nav nav-tabs">
        <li id="tab-desk"><a href="#desk" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
        <li id="tab-roster" class="active"><a href="#roster" data-toggle="tab"><i class="fa fa-list"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="desk">
            <div data-view-id="desk"></div>
        </div>
        <div class="tab-pane active" id="roster">
            <div data-view-id="roster"></div>
        </div>
    </div>
</div>